.side-right {
  position: relative;
  margin-top: -40px; }
  @media screen and (max-width: 768px) {
    .side-right {
      display: none; } }
  @media (min-width: 768px) and (max-width: 1366px) {
    .side-right {
      display: none; } }
  .side-right .circular-slider {
    min-width: 923px;
    min-height: 452px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../../public/img/bg-slider.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 1; }
    .side-right .circular-slider::after {
      content: "";
      width: 100%;
      height: 139px;
      display: block;
      position: absolute;
      right: 50%;
      left: -36%;
      z-index: 9;
      bottom: 0px;
      background-image: url("../../public/img/bg-ellipse.png");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: contain;
      filter: drop-shadow(0px 20px 31px rgba(0, 0, 0, 0.25)); }
    .side-right .circular-slider .wrapper {
      display: flex;
      height: 112%;
      width: 100%;
      justify-content: center;
      position: absolute;
      -webkit-box-sizing: border-box; }
      .side-right .circular-slider .wrapper .controls {
        z-index: 999;
        position: absolute;
        height: 24px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 223px;
        top: 57.5%; }
        .side-right .circular-slider .wrapper .controls .icon-wrapper {
          cursor: pointer; }
      .side-right .circular-slider .wrapper .controls__left:hover {
        left: 0; }
        .side-right .circular-slider .wrapper .controls__left:hover .icon-wrapper {
          font-size: 1.7em;
          opacity: 1; }
      .side-right .circular-slider .wrapper .controls__right:hover .icon-wrapper {
        font-size: 1.7em;
        opacity: 1; }
      .side-right .circular-slider .wrapper .slides-holder {
        border-radius: 50%;
        transform-origin: center;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
        -webkit-user-select: none;
        -moz-user-select: none;
             user-select: none;
        align-items: center;
        position: absolute;
        z-index: 100;
        bottom: -98%; }
      .side-right .circular-slider .wrapper .slides-holder__item {
        position: absolute;
        box-sizing: border-box;
        transform-origin: center;
        transition: 0.3s linear all;
        opacity: 0.5;
        width: 100% !important; }
        .side-right .circular-slider .wrapper .slides-holder__item .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative; }
        .side-right .circular-slider .wrapper .slides-holder__item h6 {
          color: #4587C2;
          text-align: center;
          font-family: "Poppins";
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 12px;
          border-bottom: 2px solid #4587C2; }
        .side-right .circular-slider .wrapper .slides-holder__item h4 {
          color: #4587C2;
          text-align: center;
          text-shadow: 0px 3px 8px rgba(70, 77, 43, 0.23);
          font-family: Poppins;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 44px;
          margin-bottom: 28px; }
        .side-right .circular-slider .wrapper .slides-holder__item img {
          width: 50px;
          height: 50px;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none; }
      .side-right .circular-slider .wrapper .slides-holder__item_active {
        opacity: 1; }
        .side-right .circular-slider .wrapper .slides-holder__item_active h6 {
          color: #0A1367 !important;
          font-size: 24px !important;
          border-color: #0A1367; }
        .side-right .circular-slider .wrapper .slides-holder__item_active h4 {
          text-shadow: 0px 3px 8px rgba(70, 77, 43, 0.23);
          color: #0A1367;
          font-family: 'Poppins';
          font-size: 36px;
          font-style: normal;
          font-weight: 700;
          line-height: 50px;
          text-transform: capitalize; }
        .side-right .circular-slider .wrapper .slides-holder__item_active img {
          transform: scale(1.5);
          filter: drop-shadow(0px 6px 34px rgba(255, 255, 255, 0.39)); }
        .side-right .circular-slider .wrapper .slides-holder__item_active .content {
          left: 0px; }
      .side-right .circular-slider .wrapper .descriptions {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 370px;
        z-index: 10;
        left: 44%;
        bottom: -26%; }
      .side-right .circular-slider .wrapper .descriptions__item {
        width: 100%;
        height: 0%;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: opacity 0s 0s linear; }
        .side-right .circular-slider .wrapper .descriptions__item h4 {
          color: #0a1367;
          text-align: center;
          text-shadow: 0px 3px 8px rgba(70, 77, 43, 0.23);
          font-family: "Poppins";
          font-size: 36px;
          font-style: normal;
          font-weight: 700;
          line-height: 50px;
          text-transform: capitalize; }
        .side-right .circular-slider .wrapper .descriptions__item span {
          color: #0a1367;
          text-align: center;
          font-family: "Poppins";
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
          letter-spacing: 0.8px; }
      .side-right .circular-slider .wrapper .descriptions__item_visible {
        height: 100%;
        opacity: 1;
        transition: opacity 0.6s 0s linear; }

@keyframes animate-top {
  0% {
    background: #3e3e3e;
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3e3e3e 0%, #2b2b2b 100%);
    /* IE10+ */
    background: whi;
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e3e3e', endColorstr='#2b2b2b', GradientType=0); }
  100% {
    color: #474747;
    transform: translateX(0px) translateY(0.35em) translateZ(5px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg); } }

@keyframes animate-bottom {
  0% {
    color: #474747;
    opacity: 1; }
  100% {
    transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity: 1; } }

body {
  font-size: 14px; }

.content-flip {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.counter {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center; }

.number {
  position: relative;
  margin-right: 26px;
  color: #FFF;
  text-align: center;
  font-family: 'Poppins';
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 120px;
  height: 170px; }
  @media screen and (max-width: 768px) {
    .number {
      width: 40px;
      height: 65px; } }
  @media (min-width: 768px) and (max-width: 1366px) {
    .number {
      width: 100px;
      height: 150px; } }
  .number span {
    position: absolute;
    display: block;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 120px;
    height: 100%; }
    @media screen and (max-width: 768px) {
      .number span {
        font-size: 48px;
        width: 40px; } }
    @media (min-width: 768px) and (max-width: 1366px) {
      .number span {
        width: 100px; } }
    .number span:before {
      display: block;
      height: 40%;
      overflow: hidden;
      line-height: 1.52em;
      border-bottom: none;
      border-radius: 0;
      border: 3px solid rgba(255, 255, 255, 0.4);
      border-top-left-radius: 18px;
      border-top-right-radius: 18px;
      background: rgba(228, 228, 228, 0.26);
      border-bottom-width: 0px;
      margin-bottom: 5px; }
      @media screen and (max-width: 768px) {
        .number span:before {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          height: 50%; } }
      @media (min-width: 768px) and (max-width: 1366px) {
        .number span:before {
          height: 45%; } }
    .number span:after {
      display: block;
      height: 43%;
      overflow: hidden;
      line-height: 0;
      border: 3px solid rgba(255, 255, 255, 0.4);
      border-radius: 0;
      transition: color 100ms, background-color 100ms;
      background: rgba(228, 228, 228, 0.26);
      border-bottom-left-radius: 18px;
      border-bottom-right-radius: 18px;
      border-top-width: 0px; }
      @media screen and (max-width: 768px) {
        .number span:after {
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px; } }

.flip .primary:before {
  animation: animate-top 450ms;
  -moz-animation-fill-mode: forwards;
  -webkit-animation: animate-top 450ms;
  -webkit-animation-fill-mode: forwards;
  background: rgba(228, 228, 228, 0.26);
  background: linear-gradient(to bottom, rgba(228, 228, 228, 0.26) 0%, rgba(228, 228, 228, 0.26) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(228, 228, 228, 0.26)', endColorstr='rgba(228, 228, 228, 0.26)', GradientType=0); }

.flip .primary:after {
  animation: animate-bottom 650ms;
  -moz-animation-fill-mode: forwards;
  animation-delay: 450ms;
  -webkit-animation: animate-bottom 450ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 450ms; }

.primary {
  z-index: 2; }
  .primary:after {
    opacity: 0;
    transform: translateX(0) translateY(-0.28em) translateZ(0.35em) rotateX(91deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: translateX(0) translateY(-0.28em) translateZ(0.35em) rotateX(91deg) rotateY(0deg) rotateZ(0deg); }

.secondary {
  z-index: 1; }
  .secondary::after {
    background: rgba(228, 228, 228, 0.45) !important; }

[data-number="0"] span.primary:before {
  content: "0"; }

[data-number="0"] span.primary:after {
  content: "1"; }

[data-number="0"] span.secondary:after {
  content: "0"; }

[data-number="0"] span.secondary:before {
  content: ""; }

[data-number="9"] span.primary:before {
  content: "9"; }

[data-number="9"] span.primary:after {
  content: "0"; }

[data-number="9"] span.secondary:after {
  content: "9"; }

[data-number="9"] span.secondary:before {
  content: ""; }

[data-number="8"] span.primary:before {
  content: "8"; }

[data-number="8"] span.primary:after {
  content: "9"; }

[data-number="8"] span.secondary:after {
  content: "8"; }

[data-number="8"] span.secondary:before {
  content: ""; }

[data-number="7"] span.primary:before {
  content: "7"; }

[data-number="7"] span.primary:after {
  content: "8"; }

[data-number="7"] span.secondary:after {
  content: "7"; }

[data-number="7"] span.secondary:before {
  content: ""; }

[data-number="6"] span.primary:before {
  content: "6"; }

[data-number="6"] span.primary:after {
  content: "7"; }

[data-number="6"] span.secondary:after {
  content: "6"; }

[data-number="6"] span.secondary:before {
  content: ""; }

[data-number="5"] span.primary:before {
  content: "5"; }

[data-number="5"] span.primary:after {
  content: "6"; }

[data-number="5"] span.secondary:after {
  content: "5"; }

[data-number="5"] span.secondary:before {
  content: ""; }

[data-number="4"] span.primary:before {
  content: "4"; }

[data-number="4"] span.primary:after {
  content: "5"; }

[data-number="4"] span.secondary:after {
  content: "4"; }

[data-number="4"] span.secondary:before {
  content: ""; }

[data-number="3"] span.primary:before {
  content: "3"; }

[data-number="3"] span.primary:after {
  content: "4"; }

[data-number="3"] span.secondary:after {
  content: "3"; }

[data-number="3"] span.secondary:before {
  content: ""; }

[data-number="2"] span.primary:before {
  content: "2"; }

[data-number="2"] span.primary:after {
  content: "3"; }

[data-number="2"] span.secondary:after {
  content: "2"; }

[data-number="2"] span.secondary:before {
  content: ""; }

[data-number="1"] span.primary:before {
  content: "1"; }

[data-number="1"] span.primary:after {
  content: "2"; }

[data-number="1"] span.secondary:after {
  content: "1"; }

[data-number="1"] span.secondary:before {
  content: ""; }
