.select .select2-container {
  position: relative;
  width: 328px !important;
  height: 28px; }
  .select .select2-container .select2-selection {
    border: 0px;
    background-color: transparent; }
    .select .select2-container .select2-selection__rendered {
      padding: 12px 8px;
      border-radius: 8px;
      background: rgba(69, 135, 194, 0.4);
      box-shadow: 0px 0px 21px 0px rgba(70, 77, 43, 0.07); }
      .select .select2-container .select2-selection__rendered .item-select {
        display: flex;
        align-items: center; }
        .select .select2-container .select2-selection__rendered .item-select svg {
          margin-right: 8px;
          color: #fff; }
        .select .select2-container .select2-selection__rendered .item-select__title {
          color: #fff;
          font-family: "Poppins";
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 28px; }
    .select .select2-container .select2-selection__arrow {
      top: 50% !important; }
      .select .select2-container .select2-selection__arrow b {
        border-color: #fff transparent transparent transparent !important; }

.select2-dropdown .select2-search--dropdown input {
  border: 0px !important;
  border-radius: 8px;
  outline: 0 !important; }

.select2-dropdown .select2-results .item-select {
  display: flex;
  align-items: center; }
  .select2-dropdown .select2-results .item-select svg {
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.9); }
  .select2-dropdown .select2-results .item-select__title {
    color: rgba(0, 0, 0, 0.9);
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; }
