.select .select2-container {
  position: relative;
  width: 100% !important;
  height: 28px; }
  .select .select2-container .select2-selection {
    border: 0px;
    background-color: transparent; }
    .select .select2-container .select2-selection__rendered {
      padding: 12px 8px;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.04);
      box-shadow: 0px 0px 21px 0px rgba(70, 77, 43, 0.07); }
      @media screen and (max-width: 768px) {
        .select .select2-container .select2-selection__rendered {
          background: rgba(255, 255, 255, 0.04); } }
      @media (min-width: 768px) and (max-width: 1180px) {
        .select .select2-container .select2-selection__rendered {
          background: rgba(255, 255, 255, 0.04); } }
      .select .select2-container .select2-selection__rendered .item-select {
        display: flex;
        align-items: center; }
        .select .select2-container .select2-selection__rendered .item-select svg {
          margin-right: 8px;
          color: #fff; }
          @media screen and (max-width: 768px) {
            .select .select2-container .select2-selection__rendered .item-select svg {
              width: 16px;
              height: 16px; } }
        .select .select2-container .select2-selection__rendered .item-select__title {
          color: #fff;
          font-family: "Poppins";
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 28px; }
          @media screen and (max-width: 768px) {
            .select .select2-container .select2-selection__rendered .item-select__title {
              font-size: 11px;
              font-style: normal;
              font-weight: 700;
              line-height: 16px; } }
    .select .select2-container .select2-selection__arrow {
      top: 50% !important; }
      @media screen and (max-width: 768px) {
        .select .select2-container .select2-selection__arrow {
          top: 30% !important; } }
      .select .select2-container .select2-selection__arrow b {
        background-image: url("../../public/img/ic-expand-select2.svg");
        background-color: transparent;
        background-size: contain;
        border: none !important;
        height: 24px !important;
        width: 24px !important;
        margin: auto !important;
        top: auto !important;
        left: -10px !important; }
  .select .select2-container--open .select2-selection__arrow b {
    transform: rotate(180deg); }

.select2-dropdown {
  border-radius: 8px !important;
  top: 32px !important;
  background: #313131;
  box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.5);
  border: 0px !important; }
  .select2-dropdown .select2-search--dropdown {
    background: #313131;
    padding: 12px 10px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px; }
    .select2-dropdown .select2-search--dropdown input {
      border: 0px !important;
      outline: 0 !important;
      padding: 0px !important;
      background: #313131;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      color: #fff;
      line-height: 28px; }
  .select2-dropdown .select2-results {
    background: #313131; }
    .select2-dropdown .select2-results .select2-results__options {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px; }
      .select2-dropdown .select2-results .select2-results__options .select2-results__option--selected,
      .select2-dropdown .select2-results .select2-results__options .select2-results__option--highlighted {
        background: linear-gradient(90deg, rgba(160, 223, 158, 0.2) 12.41%, rgba(69, 135, 194, 0.2) 89.87%); }
      .select2-dropdown .select2-results .select2-results__options .select2-results__message {
        font-family: 'Poppins';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        color: #fff; }
      .select2-dropdown .select2-results .select2-results__options .select2-results__option {
        padding: 12px 8px; }
        .select2-dropdown .select2-results .select2-results__options .select2-results__option:last-child {
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px; }
    .select2-dropdown .select2-results .item-select {
      display: flex;
      align-items: center; }
      .select2-dropdown .select2-results .item-select svg {
        margin-right: 8px;
        color: #fff; }
      .select2-dropdown .select2-results .item-select__title {
        font-family: 'Poppins';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        color: #fff; }

.scrolling {
  overflow-y: scroll; }
