/* Japanese */
@media screen and (max-width: 767px) {
  .language-jp .section-discovery .slide-content .main .event-detail .paragraf {
    padding-right: 8px;
    overflow-y: scroll; } }

.language-jp .section-discovery .slide-content .main .event-detail .paragraf p {
  font-family: 'Noto Sans JP', sans-serif; }

.language-jp .section-discovery .slide-content .main .event-detail .content h2 {
  font-family: 'Noto Sans JP', sans-serif; }

.language-jp .section-discovery .slide-content .main .event-detail .content p {
  font-family: 'Noto Sans JP', sans-serif; }

.language-jp .section-discovery .slide-content .main .event-detail .button a {
  font-family: 'Noto Sans JP', sans-serif; }

.language-jp .section-discovery .slide-content .main .listing .list .list-group span {
  font-family: 'Noto Sans JP', sans-serif; }

.language-jp .form-check-default label {
  font-family: 'Noto Sans JP', sans-serif; }

/* chines */
.language-cs .section-discovery .slide-content .main .event-detail .paragraf p {
  font-family: 'Noto Sans SC', sans-serif; }

.language-cs .section-discovery .slide-content .main .event-detail .content h2 {
  font-family: 'Noto Sans SC', sans-serif; }

.language-cs .section-discovery .slide-content .main .event-detail .content p {
  font-family: 'Noto Sans SC', sans-serif; }

.language-cs .section-discovery .slide-content .main .event-detail .button a {
  font-family: 'Noto Sans SC', sans-serif; }

.language-cs .section-discovery .slide-content .main .listing .list .list-group span {
  font-family: 'Noto Sans SC', sans-serif; }

.language-cs .form-check-default label {
  font-family: 'Noto Sans SC', sans-serif; }

/* Burmese */
.language-cs .section-discovery .slide-content .main .event-detail .paragraf p {
  font-family: 'Noto Sans Myanmar', sans-serif; }

.language-cs .section-discovery .slide-content .main .event-detail .content h2 {
  font-family: 'Noto Sans Myanmar', sans-serif; }

.language-cs .section-discovery .slide-content .main .event-detail .content p {
  font-family: 'Noto Sans Myanmar', sans-serif; }

.language-cs .section-discovery .slide-content .main .event-detail .button a {
  font-family: 'Noto Sans Myanmar', sans-serif; }

.language-cs .section-discovery .slide-content .main .listing .list .list-group span {
  font-family: 'Noto Sans Myanmar', sans-serif; }

.language-cs .form-check-default label {
  font-family: 'Noto Sans Myanmar', sans-serif; }
