/* Japanese */
.language-jp {
    .section-discovery {
        .slide-content {
            .main {
                .event-detail {
                    .paragraf {
                        @media screen and (max-width: 767px){
                            padding-right: 8px;
                            overflow-y: scroll;
                        }
                        p {
                            font-family: 'Noto Sans JP', sans-serif;
                        }
                    }

                    .content {
                        h2 {
                            font-family: 'Noto Sans JP', sans-serif;
                        }

                        p {
                            font-family: 'Noto Sans JP', sans-serif;
                        }
                    }

                    .button {
                        a {
                            font-family: 'Noto Sans JP', sans-serif;
                        }
                    }
                }

                .listing {
                    .list {
                        .list-group {
                            span {
                                font-family: 'Noto Sans JP', sans-serif;
                            }
                        }
                    }
                }
            }
        }
    }

    .form-check-default {
        label {
            font-family: 'Noto Sans JP', sans-serif;
        }
    }
}

/* chines */
.language-cs {
    .section-discovery {
        .slide-content {
            .main {
                .event-detail {
                    .paragraf {
                        p {
                            font-family: 'Noto Sans SC', sans-serif;
                        }
                    }

                    .content {
                        h2 {
                            font-family: 'Noto Sans SC', sans-serif;
                        }

                        p {
                            font-family: 'Noto Sans SC', sans-serif;
                        }
                    }

                    .button {
                        a {
                            font-family: 'Noto Sans SC', sans-serif;
                        }
                    }
                }

                .listing {
                    .list {
                        .list-group {
                            span {
                                font-family: 'Noto Sans SC', sans-serif;
                            }
                        }
                    }
                }
            }
        }
    }

    .form-check-default {
        label {
            font-family: 'Noto Sans SC', sans-serif;
        }
    }
}

/* Burmese */
.language-cs {
    .section-discovery {
        .slide-content {
            .main {
                .event-detail {
                    .paragraf {
                        p {
                            font-family: 'Noto Sans Myanmar', sans-serif;
                        }
                    }

                    .content {
                        h2 {
                            font-family: 'Noto Sans Myanmar', sans-serif;
                        }

                        p {
                            font-family: 'Noto Sans Myanmar', sans-serif;
                        }
                    }

                    .button {
                        a {
                            font-family: 'Noto Sans Myanmar', sans-serif;
                        }
                    }
                }

                .listing {
                    .list {
                        .list-group {
                            span {
                                font-family: 'Noto Sans Myanmar', sans-serif;
                            }
                        }
                    }
                }
            }
        }
    }

    .form-check-default {
        label {
            font-family: 'Noto Sans Myanmar', sans-serif;
        }
    }
}